<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title><%= pageTitle %> | مدونتى</title>
	<meta name="description" content="Neat">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <!-- Favicon -->
    <link rel="shortcut icon" href="../images/favicon.png">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="/css/neat.min.css">

    <style>
        .invalid{
            border: 1px solid #f00;
        }
        .text-error
        {
            color: #f00; text-align: center;display: block;
        }
        .logoutBtn{
            border-top: 1px solid #e1e2e8;
            border-right: none;
            border-bottom: none;
            border-left: none;
            font-family: Cairo, sans-serif;
            font-size: 16px;
            line-height: 1.5;
        }
    </style>
